@import './../../mixin/mixins.scss';
@import './../../../fonts/fonts.scss';

.settings{
  margin-bottom: 80px;

  @include productFont();

  &__title{
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    font-weight: bold;
  }

  &__container{
    display: flex;
    justify-content: center;
  }

  &__body{
    margin-top: 15px;
    width: 300px;

    &--border{
      border: 1px solid rgb(227, 227, 227);
      padding: 20px 25px;
      border-radius: 20px;
      margin-bottom: 20px;

    }

    &--subTitle{
      text-align: center;
      font-weight: bold;
      margin-bottom: 10px;
    }

    &--title{
      font-size: 13px;
      color: gray;
    }

    &--text{
      margin-top: 7px;
      padding: 5px;
      height: 30px;
      width: 250px;
      font-size: 16px;
      border-radius: 5px;
      border: 1px solid rgb(186, 185, 185);
      outline: none;
      margin-bottom: 15px;

      &:placeholder-shown{
        font-size: 13px;
      }
    }

    &--submit{
      padding: 5px;
      height: 35px;
      width: 250px;
      font-size: 16px;
      cursor: pointer;
      text-align: center;
      border-radius: 5px;
      border: none;
      color: black;

      @include productFont();

      &:disabled{
        opacity: 0.6;
        cursor: default;
      }
    }
   
  }

  &__podskazka{
    margin-top: 50px;
    font-size: 13px;
    color: gray;
  }

  &__statusOk{
    font-size: 14px;
    text-align: center;
    background-color: green;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }

  &__statusFail{
    font-size: 14px;
    text-align: center;
    background-color: red;
    color: white;
    padding: 5px;
    margin-top: 5px;
  }

}